<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>com.mycompany.proyectoparaya.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.mycompany.proyectoparaya.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Loginn</servlet-name>
        <servlet-class>com.mycompany.proyectoparaya.Loginn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inicio</servlet-name>
        <servlet-class>com.mycompany.proyectoparaya.Inicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreacionNotas</servlet-name>
        <servlet-class>com.mycompany.proyectoparaya.CreacionNotas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerNotas</servlet-name>
        <servlet-class>com.mycompany.proyectoparaya.VerNotas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarP</servlet-name>
        <servlet-class>com.mycompany.proyectoparaya.ActualizarP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarNota</servlet-name>
        <servlet-class>com.mycompany.proyectoparaya.eliminarNota</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editarP</servlet-name>
        <servlet-class>com.mycompany.proyectoparaya.editarP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarP</servlet-name>
        <servlet-class>com.mycompany.proyectoparaya.guardarP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editarNota</servlet-name>
        <servlet-class>com.mycompany.proyectoparaya.editarNota</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarNota</servlet-name>
        <servlet-class>com.mycompany.proyectoparaya.guardarNota</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Loginn</servlet-name>
        <url-pattern>/Loginn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inicio</servlet-name>
        <url-pattern>/Inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreacionNotas</servlet-name>
        <url-pattern>/CreacionNotas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerNotas</servlet-name>
        <url-pattern>/VerNotas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarP</servlet-name>
        <url-pattern>/ActualizarP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarNota</servlet-name>
        <url-pattern>/eliminarNota</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editarP</servlet-name>
        <url-pattern>/editarP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarP</servlet-name>
        <url-pattern>/guardarP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editarNota</servlet-name>
        <url-pattern>/editarNota</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarNota</servlet-name>
        <url-pattern>/guardarNota</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
